<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GSSoundHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GSSoundHelper.Properties.Settings>
            <setting name="KeyMute" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="ModifierMute" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="KeyUnMute" serializeAs="String">
                <value>145</value>
            </setting>
            <setting name="ModifierUnMute" serializeAs="String">
                <value>2</value>
            </setting>
        </GSSoundHelper.Properties.Settings>
    </userSettings>
</configuration>